{% extends 'base_layout.html' %}
{% block content %}

    
        <div id="body-wrapper">
        <div class="container">

            <h1 role="heading" aria-level="1">Cards</h1>

                <div class="row">
                <div class="col-sm-4 col-md-3">
                <form id="search-cards" action="/test/post" method="get">
                <div id="cardsearch-wrapper">
                <div class="pad heading push-b push-more">
                <div class="float-r" style="margin-top: -5px;">
                <a id="deckbuild-top" href="#current-deck-wrapper" class="btn btn-sm btn-info visible-inline-xs" style="display: none !important;">View Deck</a>
                </div>
                <h4 class="space space-none">Search</h4>
                </div>
                <div>
                <input id="cardsearch-text" name="Query" type="text" class="form-control" placeholder="Search for a card" onfocus="this.select();" autofocus>
                </div>
                <div class="push-b">
                <label class="checkbox-inline">
                <input id="SearchName" name="SearchName" type="checkbox" value="true"> Name
                </label>
                <label class="checkbox-inline">
                <input id="SearchText" name="SearchText" type="checkbox" value="true"> Text
                </label>
                <label class="checkbox-inline">
                <input id="SearchRace" name="SearchRace" type="checkbox" value="true"> Subtype
                </label>
                </div>
                <div id="more-card-filters" class="collapse filter-toggler-target">
                <div id="cardsearch-filters-wrapper" style>
                <div class="row">
                <div class="col-xs-12">
                <h5 class="push-t push-none">Faction</h5>
                <div>
                <div class="filter-checkbox-image">
                <label class="filter-checkbox-fire" title="Faction Fire"><input name="Factions" type="checkbox" value="forests"><span></span></label>
                </div>
                <div class="filter-checkbox-image">
                <label class="filter-checkbox-time" title="Faction Time"><input name="Factions" type="checkbox" value="plains"><span></span></label>
                </div>
                <div class="filter-checkbox-image">
                <label class="filter-checkbox-justice" title="Faction Justice"><input name="Factions" type="checkbox" value="swamps"><span></span></label>
                </div>
                <div class="filter-checkbox-image">
                <label class="filter-checkbox-primal" title="Faction Primal"><input name="Factions" type="checkbox" value="mountains"><span></span></label>
                </div>
                <div class="filter-checkbox-image">
                <label class="filter-checkbox-shadow" title="Faction Shadow"><input name="Factions" type="checkbox" value="darkness"><span></span></label>
                </div>
                <div class="filter-checkbox-image">
                <label class="filter-checkbox-multi" title="Faction Multi"><input name="Factions" type="checkbox" value="neutrals"><span></span></label>
                </div>
                </div>
                </div>
                <div class="col-xs-12">
                <h5 class="push-t push-none">Power Cost</h5>
                <div class="push-b push-more">
                <div class="filter-checkbox-image">
                <label class="filter-checkbox-general" title="0 Cost"><input name="PowerCosts" type="checkbox" value="0"><span>0</span></label>
                </div>
                <div class="filter-checkbox-image">
                <label class="filter-checkbox-general" title="1 Cost"><input name="PowerCosts" type="checkbox" value="1"><span>1</span></label>
                </div>
                <div class="filter-checkbox-image">
                <label class="filter-checkbox-general" title="2 Cost"><input name="PowerCosts" type="checkbox" value="2"><span>2</span></label>
                </div>
                <div class="filter-checkbox-image">
                <label class="filter-checkbox-general" title="3 Cost"><input name="PowerCosts" type="checkbox" value="3"><span>3</span></label>
                </div>
                <div class="filter-checkbox-image">
                <label class="filter-checkbox-general" title="4 Cost"><input name="PowerCosts" type="checkbox" value="4"><span>4</span></label>
                </div>
                <div class="filter-checkbox-image">
                <label class="filter-checkbox-general" title="5 Cost"><input name="PowerCosts" type="checkbox" value="5"><span>5</span></label>
                </div>
                <div class="filter-checkbox-image">
                <label class="filter-checkbox-general" title="6 Cost"><input name="PowerCosts" type="checkbox" value="6"><span>6</span></label>
                </div>
                <div class="filter-checkbox-image">
                <label class="filter-checkbox-general" title="7 Cost"><input name="PowerCosts" type="checkbox" value="7"><span>7</span></label>
                </div>
                <div class="filter-checkbox-image">
                <label class="filter-checkbox-general" title="8+ Cost"><input name="PowerCosts" type="checkbox" value="8"><span>8+</span></label>
                </div>
                </div>
                </div>
                </div>
                <div class="row">
                <div class="col-xs-12">
                <h5 class="push-t push-none">Attack</h5>
                <div class="push-b push-more">
                <div class="filter-checkbox-image">
                <label class="filter-checkbox-attack" title="0 Attack"><input name="AttackCosts" type="checkbox" value="0"><span>0</span></label>
                </div>
                <div class="filter-checkbox-image">
                <label class="filter-checkbox-attack" title="1 Attack"><input name="AttackCosts" type="checkbox" value="1"><span>1</span></label>
                </div>
                <div class="filter-checkbox-image">
                <label class="filter-checkbox-attack" title="2 Attack"><input name="AttackCosts" type="checkbox" value="2"><span>2</span></label>
                </div>
                <div class="filter-checkbox-image">
                <label class="filter-checkbox-attack" title="3 Attack"><input name="AttackCosts" type="checkbox" value="3"><span>3</span></label>
                </div>
                <div class="filter-checkbox-image">
                <label class="filter-checkbox-attack" title="4 Attack"><input name="AttackCosts" type="checkbox" value="4"><span>4</span></label>
                </div>
                <div class="filter-checkbox-image">
                <label class="filter-checkbox-attack" title="5 Attack"><input name="AttackCosts" type="checkbox" value="5"><span>5</span></label>
                </div>
                <div class="filter-checkbox-image">
                <label class="filter-checkbox-attack" title="6 Attack"><input name="AttackCosts" type="checkbox" value="6"><span>6</span></label>
                </div>
                <div class="filter-checkbox-image">
                <label class="filter-checkbox-attack" title="7 Attack"><input name="AttackCosts" type="checkbox" value="7"><span>7</span></label>
                </div>
                <div class="filter-checkbox-image">
                <label class="filter-checkbox-attack" title="8+ Attack"><input name="AttackCosts" type="checkbox" value="8"><span>8+</span></label>
                </div>
                </div>
                </div>
                <div class="col-xs-12">
                <h5 class="push-t push-none">Health</h5>
                <div class="push-b push-more">
                <div class="filter-checkbox-image">
                <label class="filter-checkbox-health" title="0 Health"><input name="HealthCosts" type="checkbox" value="0"><span>0</span></label>
                </div>
                <div class="filter-checkbox-image">
                <label class="filter-checkbox-health" title="1 Health"><input name="HealthCosts" type="checkbox" value="1"><span>1</span></label>
                </div>
                <div class="filter-checkbox-image">
                <label class="filter-checkbox-health" title="2 Health"><input name="HealthCosts" type="checkbox" value="2"><span>2</span></label>
                </div>
                <div class="filter-checkbox-image">
                <label class="filter-checkbox-health" title="3 Health"><input name="HealthCosts" type="checkbox" value="3"><span>3</span></label>
                </div>
                <div class="filter-checkbox-image">
                <label class="filter-checkbox-health" title="4 Health"><input name="HealthCosts" type="checkbox" value="4"><span>4</span></label>
                </div>
                <div class="filter-checkbox-image">
                <label class="filter-checkbox-health" title="5 Health"><input name="HealthCosts" type="checkbox" value="5"><span>5</span></label>
                </div>
                <div class="filter-checkbox-image">
                <label class="filter-checkbox-health" title="6 Health"><input name="HealthCosts" type="checkbox" value="6"><span>6</span></label>
                </div>
                <div class="filter-checkbox-image">
                <label class="filter-checkbox-health" title="7 Health"><input name="HealthCosts" type="checkbox" value="7"><span>7</span></label>
                </div>
                <div class="filter-checkbox-image">
                <label class="filter-checkbox-health" title="8+ Health"><input name="HealthCosts" type="checkbox" value="8"><span>8+</span></label>
                </div>
                </div>
                </div>
                </div>
                <div class="row">
                <div class="col-xs-12">
                <h5 class="push-t push-none">Type</h5>
                <div class="push-b push-more">
                <div class="cardsearch-filter">
                <label><input name="Types" type="checkbox" value="1"><i class="fa fa-check"></i> Unit</label>
                </div>
                </div>
                </div>
                <div class="col-xs-12">
                <h5 class="push-t push-none">Rarity</h5>
                <div class="push-b push-more">
                <div class="cardsearch-filter">
                <label class="text-common"><input name="Rarities" type="checkbox" value="2"><i class="fa fa-check"></i><span class="rarity-icon rarity-common"></span> Common</label>
                </div>
                <div class="cardsearch-filter">
                <label class="text-uncommon"><input name="Rarities" type="checkbox" value="3"><i class="fa fa-check"></i> <span class="rarity-icon rarity-uncommon"></span> Uncommon</label>
                </div>
                <div class="cardsearch-filter">
                <label class="text-rare"><input name="Rarities" type="checkbox" value="4"><i class="fa fa-check"></i><span class="rarity-icon rarity-rare"></span> Rare</label>
                </div>
                <div class="cardsearch-filter">
                <label class="text-legendary"><input name="Rarities" type="checkbox" value="5"><i class="fa fa-check"></i> <span class="rarity-icon rarity-legendary"></span> Legendary</label>
                </div>
                </div>
                </div>
                </div>



                
                <div class="row">
                <div class="col-xs-12 push-b push-more">
                <h5 class="push-t push-none">
                Card Set
                <span style="font-family: sans-serif !important; font-weight: normal !important; float: right; margin-top: -5px;">
                <input id="cardsearch-draftpack-include" name="DraftPackInclude" data-toggle="toggle" data-on="Show Full Set Also" data-off="Inclusive" type="checkbox" data-size="mini" data-width="120">
                </span>
                </h5>
                
                
                <select id="CardSet" name="CardSet" class="form-control" multiple="" style="width: 100%;">
                    <optgroup label="Set">
                    <option value="14">Behemoths of Thera [Set14]</option>
                    <option value="13">Unleashed [Set13]</option>
                    <option value="12">Cold Hunt [Set12]</option>
                    <option value="11">Revelations [Set11]</option>
                    <option value="10">Empire of Glass [Set10]</option>
                    <option value="9">Argent Depths [Set9]</option>
                    <option value="8">Echoes of Eternity [Set8]</option>
                     <option value="7">The Flame of Xulta [Set7]</option>
                    <option value="6">Dark Frontier [Set6]</option>
                    <option value="5">Defiance [Set5]</option>
                    <option value="4">The Fall of Argenport [Set4]</option>
                    <option value="3">The Dusk Road [Set3]</option>
                    <option value="2">Omens of the Past [Set2]</option>
                    <option value="1">The Empty Throne [Set1]</option>
                    </optgroup>
                    <optgroup label="Mini-Sets/Campaigns">
                    <option value="1145">The Devouring [Set1145]</option>
                    <option value="1135">Enter the Arcanum [Set1135]</option>
                    <option value="1125">Valley Beyond [Set1125]</option>
                    <option value="1115">Hour of Glass [Set1115]</option>
                    <option value="1107">Stormbreak [Set1107]</option>
                    <option value="1105">Buried Memories [Set1105]</option>
                    <option value="1097">Bastion Rising [Set1097]</option>
                    <option value="1095">Awakening [Set1095]</option>
                    <option value="1087">Shadow of the Spire [Set1087]</option>
                    <option value="1085">Whispers of the Throne [Set1085]</option>
                    <option value="1007">Promises by Firelight [Set1007]</option>
                    <option value="1006">Trials of Grodov [Set1006]</option>
                    <option value="1005">Homecoming [Set1005]</option>
                    <option value="1004">Into Shadow [Set1004]</option>
                    <option value="1003">Dead Reckoning [Set1003]</option>
                    <option value="1002">The Tale of Horus Traver [Set1002]</option>
                    <option value="1001">Jekk's Bounty [Set1001]</option>
                    </optgroup>
                    </select>
               
                </div>
                </div>
                </div>
                </div>
                <button type="button" class="filter-toggler collapsed btn btn-info btn-block" data-toggle="collapse" data-target="#more-card-filters" aria-expanded="false">
                <i class="fa fa-filter"></i> More Filters
                </button>
                </div>
                <div id="apply-filters-wrapper" class="push-v">
                <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-search"></i> Apply Filters</button>
                </div>
                </form>
                </div>

                <div class="col-sm-8 col-md-9">
                    <div class="pad heading push-b push-more">
                    <div class="float-r" style="margin-top: -5px;">
                    <a href="/cards?cardview=false" class="btn btn-primary btn-sm">Switch to Table List</a>
                    </div>
                    <h4 class="space space-none">Cards</h4>
                    </div>
                    <div class="card-search-results row">
                    <div class="col-xs-12 align-r">
                    <ul class="pagination pagination-sm push-b push-more push-only"><li><span class="pagination-info">1-20 of 200</span></li><li class="active"><a href="/cards/?p=1">1</a></li><li><a href="/cards/?p=2">2</a></li><li><a href="/cards/?p=3">3</a></li><li><a href="/cards/?p=4">4</a></li><li><a href="/cards/?p=5">5</a></li><li><a href="/cards/?p=6">6</a></li><li><a href="/cards/?p=7">7</a></li><li><a href="/cards/?p=2" title="Go to next page"><span class="fa fa-chevron-right"></span></a></li><li><a href="/cards/?p=130" title="Go to last page"><span class="fa fa-step-forward"></span></a></li></ul>
                        </div>
                        <div class="clearfix"></div>
                        <div class="aaa"></div>
                        {% for card in cards %}

                        

                        <div class="card_image_col">
                            <div class="card_image"><a href="/card/{{ card.id }}"><img class="card_image" src={{ card.image }}></a></div>
                        </div>

                        <!-- <div class="card-search-item col-lg-3 col-sm-4 col-xs-6 add-card-main element-relative">
                            <div class="card-search-cardview-image">
                                <a href="/card/{{ card.id }}"><img class="b-lazy lazyload img-responsive" src={{ card.image }} alt="" height="660" width="416"></a>
                            </div>
                        </div> -->

                    
                    {% endfor %}

        </div>
    </div>
</div>
</div>
</div>
        
        
{% endblock %}

{% block script %}

<script>
filter_data = {}
$("#search-cards").on("change", function(event) {


//data = {factions: []};
// factions = ["fire", "time", "justice", "primal", "shadow"];

// for (let i = 0; i < factions.length ; i++) {

//     if ($(".filter-checkbox-"+factions[i]+" input").is(':checked')) {
        
//         data["factions"].push(factions[i]);
    
//     }

// }
// data["factions"] = data["factions"].join(",")
target = event.target

data_value = filter_data[target.getAttribute("name")]
target_value = target.getAttribute("value")

if (data_value == undefined) data_value = [] 

if (data_value.includes(target_value)) data_value.splice(data_value.indexOf(target_value), 1)
else data_value.push(target_value)

if (data_value == "") delete filter_data[target.getAttribute("name")]
else filter_data[target.getAttribute("name")] = data_value

request_data = {}

for (var key in filter_data) {

    request_data[key] = filter_data[key].join(",")

}

$.ajax({
    url: '/test/post',         /* Куда отправить запрос */
    method: 'get',             /* Метод запроса (post или get) */
    dataType: 'html',          /* Тип данных в ответе (xml, json, script, html). */
    data: request_data,     /* Данные передаваемые в массиве */
    success: function(data){ 
        $(".aaa").html(data) /* В переменной data содержится ответ от index.php. */
    }
});
// $("#search-cards").submit()


})
</script>

{% endblock %}
    